.11_194 { 
	overflow:hidden;

}
.e11_194 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:3000px;
	position:absolute;
}
.e13_202 { 
	background-color:rgba(56.31249949336052, 56.31249949336052, 56.31249949336052, 1);
	width:1680px;
	height:1290px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_206 { 
	color:rgba(255, 255, 255, 1);
	width:1918px;
	height:268px;
	position:absolute;
	left:66px;
	top:279px;
	font-family:Montserrat;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:-1.5;
}
.e22_207 { 
	color:rgba(255, 255, 255, 1);
	width:499px;
	height:363px;
	position:absolute;
	left:66px;
	top:927px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
}
.e22_208 { 
	width:921px;
	height:905px;
	position:absolute;
	left:699px;
	top:737px;
	background-image:url(images/screenshot_2022_11_15_104221_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_209 { 
	color:rgba(0, 0, 0, 1);
	width:316px;
	height:78px;
	position:absolute;
	left:83px;
	top:1367px;
	font-family:Montserrat;
	text-align:left;
	font-size:48px;
	letter-spacing:-1.5;
}
.e22_210 { 
	color:rgba(0, 0, 0, 1);
	width:825px;
	height:464px;
	position:absolute;
	left:47px;
	top:1445px;
	font-family:Montserrat;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.5;
}
.e22_211 { 
	width:99px;
	height:101px;
	position:absolute;
	left:47px;
	top:1911px;
	background-image:url(images/facebook_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_212 { 
	width:99px;
	height:101px;
	position:absolute;
	left:191px;
	top:1918px;
	background-image:url(images/instagram_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_213 { 
	width:99px;
	height:101px;
	position:absolute;
	left:335px;
	top:1918px;
	background-image:url(images/phone_call_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_214 { 
	width:99px;
	height:120px;
	position:absolute;
	left:479px;
	top:1902px;
	background-image:url(images/line_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_215 { 
	color:rgba(0, 0, 0, 1);
	width:518px;
	height:108px;
	position:absolute;
	left:83px;
	top:2290px;
	font-family:Montserrat;
	text-align:left;
	font-size:48px;
	letter-spacing:-1.5;
}
.e32_35 { 
	color:rgba(0, 0, 0, 1);
	width:1515px;
	height:613px;
	position:absolute;
	left:82px;
	top:2576px;
	font-family:Montserrat;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.5;
}
.e33_36 { 
	color:rgba(0, 0, 0, 1);
	width:549px;
	height:117px;
	position:absolute;
	left:781px;
	top:1721px;
	font-family:Montserrat;
	text-align:left;
	font-size:48px;
	letter-spacing:-1.5;
}
.e33_37 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:110px;
	position:absolute;
	left:781px;
	top:1837px;
	font-family:Montserrat;
	text-align:left;
	font-size:48px;
	letter-spacing:-1.5;
}
.e33_44 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:110px;
	position:absolute;
	left:781px;
	top:1950px;
	font-family:Montserrat;
	text-align:left;
	font-size:48px;
	letter-spacing:-1.5;
}
.e34_47 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:110px;
	position:absolute;
	left:781px;
	top:2060px;
	font-family:Montserrat;
	text-align:left;
	font-size:48px;
	letter-spacing:-1.5;
}
.e33_40 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:232px;
	height:35px;
	position:absolute;
	left:1037px;
	top:1876px;
}
.e33_41 { 
	background-color:rgba(0, 0, 0, 1);
	width:115px;
	height:33px;
	position:absolute;
	left:1038px;
	top:1878px;
}
.e34_48 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:232px;
	height:35px;
	position:absolute;
	left:1038px;
	top:2097px;
}
.e34_49 { 
	background-color:rgba(0, 0, 0, 1);
	width:115px;
	height:33px;
	position:absolute;
	left:1039px;
	top:2099px;
}
.e33_45 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:232px;
	height:35px;
	position:absolute;
	left:1036px;
	top:1987px;
}
.e33_46 { 
	background-color:rgba(0, 0, 0, 1);
	width:94px;
	height:33px;
	position:absolute;
	left:1037px;
	top:1989px;
}
